USE [BANK_DATABASE]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNT_NUMBER] [varchar](30) NOT NULL,
	[CATOGARY] [varchar](30) NULL,
	[CURRENT_BALANCE] [numeric](8, 2) NULL,
	[OPENING_DATE] [date] NULL,
	[CUSTOMER_SSN] [varchar](15) NULL,
	[BANKER_EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANKERS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKERS](
	[BANKER_EMPLOYEE_ID] [int] NOT NULL,
	[BANKER_FIRST_NAME] [varchar](50) NOT NULL,
	[BANKER_LAST_NAME] [varchar](50) NOT NULL,
	[BANKER_EMAIL] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[BANKER_EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREDITCARDS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREDITCARDS](
	[CREDIT_CARD_NUMBER] [varchar](30) NOT NULL,
	[CREDIT_LIMIT] [numeric](8, 2) NOT NULL,
	[CREDIT_BALANCE] [numeric](8, 2) NULL,
	[EXPIRE_DATE] [date] NULL,
	[CUSTOMER_SSN] [varchar](15) NULL,
	[BANKER_EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CREDIT_CARD_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CREDITCARDS_FRAUD_ALERTS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREDITCARDS_FRAUD_ALERTS](
	[CREDIT_FRAUD_ID] [int] NOT NULL,
	[TRANSACTION_AMOUNT] [numeric](8, 2) NOT NULL,
	[TRANSACTION_DATE] [date] NULL,
	[CUSTOMER_SSN] [varchar](15) NULL,
	[CREDIT_CARD_NUMBER] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CREDIT_FRAUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMER_SSN] [varchar](15) NOT NULL,
	[CUSTOMER_ID] [varchar](15) NOT NULL,
	[CUSTOMER_FIRST_NAME] [varchar](50) NOT NULL,
	[CUSTOMER_LAST_NAME] [varchar](50) NOT NULL,
	[CUSTOMER_PHONE_NUMBER] [varchar](15) NULL,
	[CUSTOMER_DATE_OF_BIRTH] [date] NULL,
	[CUSTOMER_ADDRESS] [varchar](150) NULL,
	[CUSTOMER_ZIP_CODE] [int] NULL,
	[BANKER_EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEBITCARDS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEBITCARDS](
	[DEBIT_CARD_NUMBER] [varchar](30) NOT NULL,
	[DEPOSITE_AMOUNT] [numeric](8, 2) NOT NULL,
	[DEPOSITE_DATE] [date] NULL,
	[CASH_WITHDRAWAL_AMOUNT] [numeric](8, 2) NOT NULL,
	[CASH_WITHDRAWAL_DATE] [date] NULL,
	[DEBIT_BALANCE] [numeric](8, 2) NULL,
	[CUSTOMER_SSN] [varchar](15) NULL,
	[BANKER_EMPLOYEE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DEBIT_CARD_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEBITCARDS_FRAUD_ALERTS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEBITCARDS_FRAUD_ALERTS](
	[DEBIT_FRAUD_ID] [int] NOT NULL,
	[TRANSACTION_AMOUNT] [numeric](8, 2) NOT NULL,
	[TRANSACTION_DATE] [date] NULL,
	[CUSTOMER_SSN] [varchar](15) NULL,
	[DEBIT_CARD_NUMBER] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEBIT_FRAUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[TRANSACTIONS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_FIRST_NAME] [varchar](50) NULL,
	[CUSTOMER_LAST_NAME] [varchar](50) NULL,
	[CUSTOMER_ID] [varchar](15) NULL,
	[TRANSACTION_DATE] [date] NULL,
	[DEPOSIT_AMOUNT] [numeric](8, 2) NULL,
	[WITHDRAWAL_AMOUNT] [numeric](8, 2) NULL,
	[ACCOUNT_NUMBER] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TRANSACTIONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 9/23/2021 8:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[EMPLOYEE_USER_NAME] [varchar](25) NOT NULL,
	[EMPLOYEE_PASSWORD] [varchar](10) NOT NULL,
	[BANKER_EMPLOYEE_ID] [int] NULL,
	[BANKER_EMAIL] [varchar](150) NULL,
	[SECURITY_QUESTION] [varchar](250) NULL,
	[SECURITY_QUESTION_ANSWER] [varchar](250) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([BANKER_EMPLOYEE_ID])
REFERENCES [dbo].[BANKERS] ([BANKER_EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[CREDITCARDS]  WITH CHECK ADD FOREIGN KEY([BANKER_EMPLOYEE_ID])
REFERENCES [dbo].[BANKERS] ([BANKER_EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[CREDITCARDS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[CREDITCARDS_FRAUD_ALERTS]  WITH CHECK ADD FOREIGN KEY([CREDIT_CARD_NUMBER])
REFERENCES [dbo].[CREDITCARDS] ([CREDIT_CARD_NUMBER])
GO
ALTER TABLE [dbo].[CREDITCARDS_FRAUD_ALERTS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[CUSTOMERS]  WITH CHECK ADD FOREIGN KEY([BANKER_EMPLOYEE_ID])
REFERENCES [dbo].[BANKERS] ([BANKER_EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[DEBITCARDS]  WITH CHECK ADD FOREIGN KEY([BANKER_EMPLOYEE_ID])
REFERENCES [dbo].[BANKERS] ([BANKER_EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[DEBITCARDS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[DEBITCARDS_FRAUD_ALERTS]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[DEBITCARDS_FRAUD_ALERTS]  WITH CHECK ADD FOREIGN KEY([DEBIT_CARD_NUMBER])
REFERENCES [dbo].[DEBITCARDS] ([DEBIT_CARD_NUMBER])
GO
ALTER TABLE [dbo].[TRANSACTIONS]  WITH CHECK ADD FOREIGN KEY([ACCOUNT_NUMBER])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_NUMBER])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [BANKER_EMPLOYEE_ID] FOREIGN KEY([BANKER_EMPLOYEE_ID])
REFERENCES [dbo].[BANKERS] ([BANKER_EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [BANKER_EMPLOYEE_ID]
GO
